.main {
    max-width: 100%;
    margin: 0 auto;
}

/* Media Queries */
@media screen and (min-width: 768px) {
    .main {
        max-width: 100%;
    }
}

@media screen and (min-width: 1024px) {
    .main {
        max-width: 100%;
    }
}