* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    overflow-x: hidden;
    /*width: 100%;*/
}

.content-background {
    width: 100%;
    /*height: 100%;*/
    background: no-repeat url("./background/lavender-background.png");
    background-size: cover;
    filter: brightness(0.90);

    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-background::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(250, 249, 249, 0.25);
    filter: brightness(0.90);
}

#cover-image {
    position: relative;
    z-index: 1;
    color: white;
    padding: 2rem;
}

.title {
    display: flex;
    flex-direction: column;
    margin-top: 8rem;
    justify-content: center;
    z-index: 1;
}

.save {
    font-family: "Mrs Saint Delafield", serif;
    color: #2C1343;
    font-size: 22rem;
    line-height: 0.7;
    margin-left: -6rem;
}

.the {
    font-family: 'Playfair Display', serif;
    color: #FA640E;
    font-size: 7rem;
    margin-left: 20rem;
    line-height: 0.9;
    margin-top: -4rem;
}

.date {
    font-family: "Mrs Saint Delafield", serif;
    color: #2C1343;
    font-size: 22rem;
    line-height: 0.9;
    margin-left: 29rem;
    margin-top: -8rem;
}

.save, .date {
    font-size: 18rem;
}

.wedding-info {
    color: #FCF5EB;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.pour-le-mariage {
    font-family: "Italianno", serif;;
    font-style: italic;
    font-size: 5rem;
    margin-bottom: 1rem;
}

.names {
    font-size: 4.5rem;
    margin: 1rem 0;
    font-family: 'Playfair Display', serif;
}

.wedding-date {
    font-family: "Italianno", serif;;
    font-style: italic;
    font-size: 5rem;
}

.location {
    font-family: "Italianno", serif;;
    font-style: italic;
    font-size: 5rem;
}

.polaroid-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #FCF5EB;
    width: 100%;
    max-height: 1400px;
}

.polaroids {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    /*margin: 3rem 0;*/
    z-index: 1;
}

.polaroid {
    background: white;
    padding: 1rem;
    padding-bottom: 3rem;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.18);
    /*transition: transform 0.3s ease;*/
    transition: all 0.3s ease;
    animation: float 4s ease-in-out infinite;
}

.polaroid img {
    width: 450px;
    height: 450px;
    object-fit: cover;
}

.polaroid:hover {
    transform: scale(1.03) rotate(2deg);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15);
    z-index: 1;
}

#polaroid-1 {
    transform: rotate(-17deg) translateX(-30rem) translateY(-15rem);
    position: relative;
    z-index: 1;
}

#polaroid-2 {
    transform: rotate(22deg) translateX(20rem) translateY(-30rem);
    position: relative;
    z-index: 1;
}

.invitation-text {
    font-family: 'Playfair Display', serif;
    color: #000000;
    max-width: 700px;
    text-align: left;
    line-height: 1.6;
    font-size: 2rem;
    transform: translateY(-27rem) translateX(15rem);
}

#icon-form {
    max-width: 120px;
    max-height: 120px;
    transform: translateY(-15rem) translateX(80rem);
}

#form-text {
    color: #FA640E;
    font-family: 'Playfair Display', serif;
    font-size: 2rem;
    margin-top: 2rem;
    transform: translateX(70rem) translateY(-15rem);
}

#polaroid-3 {
    transform: rotate(11deg) translateX(-30rem) translateY(-20rem);
    position: relative;
    z-index: 1;
}