* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    height: 100%;
    width: 100%;
    position: relative;
}

main {
    position: relative;
    width: 100%;
    min-height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.content-background {
    background: no-repeat url("/background/lavender-background.png");
    background-size: cover;
    filter: brightness(0.90);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-background::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(250, 249, 249, 0.25);
    filter: brightness(0.90);
}

#cover-image {
    position: relative;
    z-index: 1;
    color: white;
    padding: 2rem;
}

.title {
    display: flex;
    flex-direction: column;
    margin-top: 3.5rem;
    justify-content: center;
    position: relative;
    z-index: 1;
    align-items: center;
}

.save {
    font-family: "Mrs Saint Delafield", serif;
    color: #2C1343;
    line-height: 0.7;
}

.the {
    font-family: 'Playfair Display', serif;
    color: #FA640E;
    font-size: 3.8rem;
    line-height: 0.9;
    transform: translateY(-2.5rem) translateX(-0.5rem);
}

.date {
    font-family: "Mrs Saint Delafield", serif;
    color: #2C1343;
    line-height: 0.9;
    transform: translateY(-3rem);
}

.save, .date {
    font-size: 10rem;
}

.wedding-info {
    color: #FCF5EB;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    z-index: 1;
}

.pour-le-mariage {
    font-family: "Italianno", serif;;
    font-style: italic;
    font-size: 3.5rem;
    margin-bottom: 1rem;
}

#paragraph-v, #paragraph-et, #paragraph-y {
    font-size: 3.5rem;
    margin: 1rem 0;
    font-family: 'Playfair Display', serif;
}

.wedding-date {
    font-family: "Italianno", serif;;
    font-style: italic;
    font-size: 3.5rem;
}

.location {
    font-family: "Italianno", serif;;
    font-style: italic;
    font-size: 3rem;
}

.polaroid-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FCF5EB;

    /*position: relative;*/
    /*z-index: 1;*/
    width: 100%;
    /*min-height: 200vh;*/
    padding: 2rem;
}

.polaroid-container {
    display: flex;
}

.polaroids {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    /*margin: 3rem 0;*/
}

.polaroid {
    background: white;
    padding: 1rem;
    padding-bottom: 3rem;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.18);
    /*transition: transform 0.3s ease;*/
    transition: all 0.3s ease;
    animation: float 4s ease-in-out infinite;
}

.polaroid img {
    width: 350px;
    height: 350px;
    object-fit: cover;
}

.polaroid:hover {
    transform: scale(1.03) rotate(2deg);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15);
    z-index: 3;
}

#polaroid-1 {
    transform: rotate(-17deg);
    top: -2rem;
    position: relative;
    z-index: 3;
}

.polaroids, .polaroid {
    position: relative;
    z-index: 3;
}

.polaroid-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.invitation-text {
    font-family: 'Playfair Display', serif;
    color: #000000;
    /*max-width: 320px;*/
    text-align: left;
    /*line-height: 1.6;*/
    font-size: 1.3rem;
    margin: 2rem;
    /*margin-bottom: 2rem;*/
}

.paragraph {
    margin: 2rem;
}

#polaroid-2 {
    transform: rotate(22deg) translateX(-3rem);
    position: relative;
    z-index: 3;
    /*left: -3rem;*/
}

.container-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#icon-form {
    max-width: 90px;
    max-height: 90px;
    margin-top: 7rem;
}

#form-text {
    color: #FA640E;
    font-family: 'Playfair Display', serif;
    font-size: 1.3rem;
    margin-top: 2rem;
    margin-bottom: 7rem;
    max-width: 250px;
}

#polaroid-3 {
    transform: rotate(11deg);
    position: relative;
    margin-top: 2rem;
    z-index: 3;
}

/* Small (sm) */
@media (min-width: 640px) {
    .invitation-text {
        margin-bottom: 6rem;
    }
}

/* Medium (md) */
@media (min-width: 768px) {
    #form-text {
        max-width: 450px;
        text-align: left;
    }

    .invitation-text {
        max-width: 650px;

    }

    #polaroid-2 {
        transform: rotate(22deg) translateX(-5rem) translateY(0rem);
    }
}

/* Large (lg) */
@media (min-width: 1024px) {
    .save {
        transform: translateX(-13.5rem);
    }

    .the {
        transform: translateY(-3rem);
    }

    .date {
        transform: translateX(10rem) translateY(-7rem);
    }

    .save, .date {
        font-size: 13rem;
    }

    .wedding-info {
        margin-top: -8rem;
    }

    .pour-le-mariage {
        font-size: 5.5rem;
        margin-bottom: 1rem;
    }

    #line2 {
        display: flex;
        align-items: center;
        text-align: center;
    }

    #paragraph-v, #paragraph-et, #paragraph-y {
        font-size: 5.5rem;
        margin: 0 2rem;
    }

    .wedding-date {
        font-size: 5.5rem;
    }

    .location {
        font-size: 5.5rem;
    }

    .polaroids, .polaroid {
        z-index: 2;
    }

    .polaroid-container {
        min-height: 150vh;
    }

    #polaroid-1 {
        transform: rotate(-17deg) translateX(-23rem) translateY(-15rem);
    }

    .invitation-text {
        max-width: 650px;
        transform: translateY(-5rem) translateX(-10rem);
    }

    .paragraph {
        margin: 1rem 1rem;
    }

    #polaroid-2 {
        transform: rotate(22deg) translateX(-1rem) translateY(-65rem);
    }

    #icon-form {
        transform: translateY(-40rem) translateX(10rem);
    }

    #form-text {
        transform: translateX(10rem) translateY(-40rem);
    }

    #polaroid-3 {
        transform: rotate(11deg) translateX(-25rem) translateY(-36rem);
    }

    .polaroid-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

/* Extra Large (xl) */
@media (min-width: 1280px) {
    .save {
        transform: translateX(-15.5rem);
    }

    .the {
        transform: translateY(-3rem);
        font-size: 5rem;
    }

    .date {
        transform: translateX(10rem) translateY(-9rem);
    }

    .save, .date {
        font-size: 18rem;
    }

    .invitation-text {
        max-width: 650px;
        transform: translateY(-2.5rem) translateX(-10rem);
    }

    #icon-form {
        transform: translateY(-45rem) translateX(20rem);
    }

    #form-text {
        max-width: 600px;
        text-align: left;
        transform: translateX(20rem) translateY(-43rem);
    }

    .polaroid img {
        width: 450px;
        height: 450px;
    }

    #polaroid-1 {
        transform: rotate(-17deg) translateX(-28rem) translateY(-20rem);
    }

    #polaroid-2 {
        transform: rotate(22deg) translateX(5rem) translateY(-70rem);
    }

    #polaroid-3 {
        transform: rotate(11deg) translateX(-25rem) translateY(-45rem);
    }
}

/* 2XL */
@media (min-width: 1536px) { }