.infoContainer {
    background: url('../../assets/background/Setoftenderwatercolorlavenderflowerelementsisolatedonwhitebackground.png') no-repeat center center;
    background-size: cover;
    width: 100vw;
    height: 55vh;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.planningContainer {
    background-color: rgba(250, 249, 249, 0.94);
    padding: 2rem;
    border-radius: 8px;
    /*width: 40vw;*/
}

.infoOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-background-transparent);
    filter: brightness(0.90);
}