---
import '../styles/saveTheDate.css';
import '../styles/global.css';
---
<main>
    <div class="save-the-date-container">
        <img src="/background/lavender-background.png" alt="Champ de lavande" class="cover-image">

        <!-- Vague décorative -->
        <div class="wave-container">
        </div>

        <div class="content">
            <div class="title">
                <span class="save" id="save"></span>
                <span class="the" id="the"></span>
                <span class="date" id="date"></span>
            </div>

            <div class="wedding-info">
                <div class="pour-le-mariage" id="line1"></div>
                <div class="names" id="line2"></div>
                <div class="wedding-date" id="wedding-date"></div>
                <div class="location" id="location"></div>
            </div>

            <div class="polaroids" id="polaroid-1">
                <div class="polaroid">
                    <img src="/photos/couple-vue-NB.png" alt="Photo des fiancés 1">
                </div>
            </div>

            <div class="invitation-text">
                <p id="paragraph1"></p>
                <p id="paragrpah2"></p>
            </div>

            <div class="polaroids" id="polaroid-2">
                <div class="polaroid">
                    <img src="/photos/mayotte-couple-NB.png" alt="Photo des fiancés 2">
                </div>
            </div>

            <!-- Icône de lavande -->
            <img src="/icons/icon-header-lavender.png" id="icon-form">

            <div class="form-reminder" id="form-text">bug</div>

            <div class="polaroids" id="polaroid-3">
                <div class="polaroid">
                    <img src="/photos/2022-couple-NB.png" alt="Photo des fiancés 3">
                </div>
            </div>
        </div>
    </div>
</main>