---

---
<button id="lang-switch">Hey</button>

<script>
    import { translations } from '../datas/translations.js';

    let currentLang = localStorage.getItem('preferredLanguage') || 'fr';
    // console.log(currentLang);

    const langBtn = document.querySelector('#lang-switch');
    // console.log(langBtn);

    function updateButtonText() {
        const targetLang = currentLang === 'fr' ? `${translations.en[0].buttonText}` : `${translations.fr[0].buttonText}`;
        langBtn.textContent = `${targetLang}`;
        // console.log(targetLang);
    }

    function updateTextPage(language) {
        if (language === 'fr') {
            // console.log("On change la langue en français !", language);
            // console.log(translations.fr[0].buttonText);

            const elements = {
                'save': translations.fr[0].title.save,
                'the': translations.fr[0].title.the,
                'date': translations.fr[0].title.date,
                'line1' : translations.fr[0].weddingInfo.line1,
                'paragraph-v' : translations.fr[0].weddingInfo.line2.paragraphV,
                'paragraph-et' : translations.fr[0].weddingInfo.line2.paragraphEt,
                'paragraph-y' : translations.fr[0].weddingInfo.line2.paragraphY,
                'wedding-date' : translations.fr[0].weddingInfo.weddingDate,
                'location' : translations.fr[0].weddingInfo.location,
                'paragraph1' : translations.fr[0].invitationText.paragraph1,
                'paragraph2' : translations.fr[0].invitationText.paragraph2,
                'form-text': translations.fr[0].formReminder.text
            };

            for (const [id, text] of Object.entries(elements)) {
                const element = document.getElementById(id);
                if (element) {
                    element.textContent = text;
                }
            }
        } else if (language === 'en') {
            console.log("On change la langue en français !", language);
            console.log(translations.en[0].buttonText);

            const elements = {
                'save': translations.en[0].title.save,
                'the': translations.en[0].title.the,
                'date': translations.en[0].title.date,
                'line1' : translations.en[0].weddingInfo.line1,
                'paragraph-v' : translations.en[0].weddingInfo.line2.paragraphV,
                'paragraph-et' : translations.en[0].weddingInfo.line2.paragraphEt,
                'paragraph-y' : translations.en[0].weddingInfo.line2.paragraphY,
                'wedding-date' : translations.en[0].weddingInfo.weddingDate,
                'location' : translations.en[0].weddingInfo.location,
                'paragraph1' : translations.en[0].invitationText.paragraph1,
                'paragraph2' : translations.en[0].invitationText.paragraph2,
                'form-text': translations.en[0].formReminder.text
            };

            for (const [id, text] of Object.entries(elements)) {
                const element = document.getElementById(id);
                if (element) {
                    element.textContent = text;
                }
            }
        }
    }

    function initializeLanguage() {
        updateButtonText();
        updateTextPage(currentLang);
    }

    document.addEventListener('DOMContentLoaded', initializeLanguage);

    langBtn.addEventListener('click', (e) => {
        e.preventDefault();

        currentLang = currentLang === 'fr' ? 'en' : 'fr';

        localStorage.setItem('preferredLanguage', currentLang);

        updateButtonText();
        updateTextPage(currentLang);
    });
</script>